body {
    background-color:#9E8353;
    text-align: center;
}
.logo{
    color: black;
    font-family: "Montserrat-bold";
}

.portada{
    position: relative;
    background-color: rgba(219, 211, 198, 0.49);}
.foto_portada {
   width: 80%;
   text-align: center;
   margin: 10px;
   box-shadow: 5px 8px 12px black;
   }
.portada h1{
    color: rgb(30, 0, 15);
    background-color: rgba(235, 198, 75, 0.475);
    border-radius: 10%;
    font-family: "Montserrat-bold";
    font-size: 6rem;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 50%);

}
h4{position: absolute;
    top: 28%;
    left: 34%;
    color: #ff0368;
    font-size: 50px;
    background-color: #c79f40a6;
    border-radius: 20%;
}
main{
    color: beige;
    padding: 80px;
}
/*loren imputs*/
.segundo_texto{
    position: relative;
    right: 10px;
    font-family: "Sacramento";
    font-size: 45px;
    color: #adf5ff;
}
/*iconos de servicios*/
.icon {
    color: #243718;
    margin-bottom: 1rem;
    size: 50px;
    }
    
    .icon:hover {
    color: #ff0368
    }
/*carrousel*/
   .imgcar {
    height: 550px;
    width: 680px;
position: relative;
left: 250px; 
size: 50px;

}
   .vistas{
    background-color: rgba(219, 211, 198, 0.49);
    padding: 40px;
   }
/*footer- pie de pagina*/
   .piepag{
    background-color:#9E8353;
    padding: 20px;
   }
   .icono-final{
    margin: 20px;
    color:darkslategrey;
   }
   .icono-final:hover{
    color: #ff0368;
   }

   /*pagina contacto*/

   /*imagen telefonos*/
   .img_contacto{
    width: 70%;
    box-shadow: hsla(120, 61%, 34%, 0.63);
    padding: 30px;
   }

   .contacto_header{
    background-color: rgba(219, 211, 198, 0.49);
    padding: 50px;;
   }
   .formulario{
    text-align: center;
   }
   .formu{
    background-color: #243718;
   }
   #formulario, p{
    color: #243718;
    text-align: center;
    font-family: "Montserrat-bold";s
   }